<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
	<typeAliases>		
		<typeAlias type="com.kh.goodluck.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.goodluck.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.goodluck.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.goodluck.item.model.vo.ITEMLIST" alias="ITEMLIST"/>
		<typeAlias type="com.kh.goodluck.item.model.vo.GetMyItem" alias="GetMyItem"/>
		<typeAlias type="com.kh.goodluck.item.model.vo.ItemNotice" alias="ItemNotice"/>
		<typeAlias type="com.kh.goodluck.board.model.vo.BigCategory" alias="BigCategory"/>
		<typeAlias type="com.kh.goodluck.board.model.vo.MidCategory" alias="MidCategory"/>
		<typeAlias type="com.kh.goodluck.board.model.vo.SmallCategory" alias="SmallCategory"/>
		<typeAlias type="com.kh.goodluck.board.model.vo.CategoryLink1" alias="CategoryLink1"/>
		<typeAlias type="com.kh.goodluck.board.model.vo.CategoryLink2" alias="CategoryLink2"/>
		<typeAlias type="com.kh.goodluck.category.model.vo.Category" alias="Category"/>
		<typeAlias type="com.kh.goodluck.item.model.vo.UsingItem" alias="UsingItem"/>
		<typeAlias type="com.kh.goodluck.qna.model.vo.QNA" alias="Qna" />
		<typeAlias type="com.kh.goodluck.qna.model.vo.QnaAnswer" alias="QnaAnswer" />
		<typeAlias type="com.kh.goodluck.qna.model.vo.QnaWrite" alias="QnaWrite" />
		<typeAlias type="com.kh.goodluck.faq.model.vo.Faq" alias="Faq" />
		<typeAlias type="com.kh.goodluck.item.model.vo.MyPageItem" alias="MyPageItem"/>
		<typeAlias type="com.kh.goodluck.item.model.vo.ItemPackage" alias="ItemPackage"/>
		<typeAlias type="com.kh.goodluck.search.model.vo.Search" alias="Search"/>
		<typeAlias type="com.kh.goodluck.item.model.vo.RanDomBoxChance" alias="RanDomBoxChance"/>
		<typeAlias type="com.kh.goodluck.item.model.vo.ItemDetail" alias="ItemDetail"/>
		<typeAlias type="com.kh.goodluck.report.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.goodluck.outsidedata.model.vo.PetNews" alias="PetNews"/>
	</typeAliases>
	<mappers>    
		<mapper resource="mybatis/mapper/member-mapper.xml"/>
		<mapper resource="mybatis/mapper/notice-mapper.xml"/>
		<mapper resource="mybatis/mapper/board-mapper.xml"/>
		<mapper resource="mybatis/mapper/item-mapper.xml"/>
		<mapper resource="mybatis/mapper/getmyitem-mapper.xml"/>
		<mapper resource="mybatis/mapper/itemNotice-mapper.xml"/>
		<mapper resource="mybatis/mapper/category-mapper.xml"/>
		<mapper resource="mybatis/mapper/UsingItem-mapper.xml"/>
		<mapper resource="mybatis/mapper/qna-mapper.xml" />
		<mapper resource="mybatis/mapper/faq-mapper.xml" />
		<mapper resource="mybatis/mapper/itempackage.xml" />
		<mapper resource="mybatis/mapper/search-mapper.xml" />
		<mapper resource="mybatis/mapper/randomitemchance.xml" />
		<mapper resource="mybatis/mapper/itemdetail.xml" />
		<mapper resource="mybatis/mapper/report-mapper.xml" />
		<mapper resource="mybatis/mapper/outsidedata-mapper.xml" />
	</mappers>
</configuration>
