@charset "UTF-8";

	.jwj-innertable2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height : 80%;
    border: 1px solid #ddd;	
	}		
	
	.jwj-innertable2 tr th {
    text-align: left;
    padding: 10px;   
	}
	
	.jwj-innertable2 tr td {
    text-align: center;
    padding: 10px;
	}
	
	/* .jwj-innertable2 tr:nth-child(even) {
	    background-color: #ff850b;
	    animation: mymove2 5s infinite;
	} */
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes mymove2 {
	    from {background-color: #ff850b;}
	    to {background-color: #ffc082;}
	}
	
	Standard syntax
	@keyframes mymove2 {
	    from {background-color: #ff850b;}
	    to {background-color: #ffc082;}
	}  