<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin-mapper">

	<select id="selectAdminStatistics" resultType="LoginStatistics">
		<![CDATA[
			select count(*) as "visitCount",to_date(ls_date,'yy/mm/dd') as "ls_date"
			from login_statistics
			where rownum <= 8
			group by to_date(ls_date,'yy/mm/dd')
			order by to_date(ls_date,'yy/mm/dd') desc
		]]>
	</select>
	
	<select id="selectAdminQnaIng" resultType="Qna">
		<![CDATA[
			select *
			from question
			where QUESTION_ANSWER_STATE = '처리중'
		]]>
	</select>
	
	<select id="selectAdminQnaEnd" resultType="Qna">
		<![CDATA[
			select *
			from question
			where QUESTION_ANSWER_STATE = '답변완료'
		]]>
	</select>
	
	<update id="b" parameterType="int" flushCache="true">
		<![CDATA[
			
		]]>
	</update>

</mapper>