<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board-mapper">
	
	<resultMap type="Board" id="BoardResult">
		<id property="agency_no" column="agency_no"/>
		<result property="agency_writer" column="agency_writer"/>
		<result property="link2_no" column="link2_no"/>
		<result property="agency_type" column="agency_type"/>
		<result property="agency_loc" column="agency_loc"/>
		<result property="agency_startdate" column="agency_startdate"/>
		<result property="agency_enddate" column="agency_enddate"/>
		<result property="agency_eneolldate" column="agency_eneolldate"/>
		<result property="agency_paytype" column="agency_paytype"/>
		<result property="agency_pay" column="agency_pay"/>
		<result property="agency_status" column="agency_status"/>
		<result property="agency_content" column="agency_content"/>
		<result property="agency_views" column="agency_views"/>
	</resultMap>
	
	<select id="selectCategory" parameterType="Board" resultMap="BoardResult">
		<![CDATA[
			select * from agency where link2_no = #{link2_no}
		]]>
	</select>	
	
	<!-- <insert id="MemberInsert" parameterType="Member" flushCache="true" statementType="PREPARED">		
		insert into member 
		values 
		(#{userId}, 
		#{userPwd}, 
		#{userName}, 
		#{gender}, 
		#{age}, 
		#{phone}, 
		#{email}, 
		#{hobby}, 
		#{etc}, 
		sysdate, 
		sysdate)		
	</insert>
	
	<update id="MemberUpdate" parameterType="Member" flushCache="true" statementType="PREPARED">
		update member 
		set userpwd = #{userPwd}, 
		age = #{age}, 
		phone = #{phone}, 
		email = #{email}, 
		hobby = #{hobby}, 
		etc = #{etc}, 
		lastmodified = sysdate 
		where userid = #{userId}
	</update>
	
	<delete id="MemberDelete" parameterType="Member" flushCache="true" statementType="PREPARED">
		delete from member 
		where userid = #{userId}
	</delete> -->

</mapper>
