<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board-mapper">
	
	<resultMap type="Board" id="BoardResult">
		<id property="agency_no" column="agency_no"/>
		<result property="agency_writer" column="agency_writer"/>
		<result property="agency_title" column="agency_title"/>
		<result property="link2_no" column="link2_no"/>
		<result property="agency_type" column="agency_type"/>
		<result property="agency_loc" column="agency_loc"/>
		<result property="agency_startdate" column="agency_startdate"/>
		<result property="agency_enddate" column="agency_enddate"/>
		<result property="agency_enrolldate" column="agency_enrolldate"/>
		<result property="agency_paytype" column="agency_paytype"/>
		<result property="agency_pay" column="agency_pay"/>
		<result property="agency_status" column="agency_status"/>
		<result property="agency_content" column="agency_content"/>
		<result property="agency_views" column="agency_views"/>
		<result property="agency_keyword" column="agency_keyword"/>
		<result property="agency_option" column="agency_option"/>
	</resultMap>
	
	
	<resultMap type="BigCategory" id="BigCategoryAll">
		<id property="category_big_code" column="category_big_code"/>
		<result property="category_big_name" column="category_big_name"/>
		<result property="category_big_views" column="category_big_views"/>
	</resultMap>
	
	<resultMap type="MidCategory" id="MidCategoryAll">
		<id property="category_mid_code" column="category_mid_code"/>
		<result property="category_mid_name" column="category_mid_name"/>
		<result property="category_mid_views" column="category_mid_views"/>
	</resultMap>
	
	<resultMap type="SmallCategory" id="SmallCategoryAll">
		<id property="category_small_code" column="category_small_code"/>
		<result property="category_small_name" column="category_small_name"/>
		<result property="category_small_views" column="category_small_views"/>
	</resultMap>
	
	<resultMap type="CategoryLink1" id="CategoryLink1All">
		<id property="link1_no" column="link1_no"/>
		<result property="category_big_code" column="category_big_code"/>
		<result property="category_mid_code" column="category_mid_code"/>
	</resultMap>
	
	<resultMap type="CategoryLink2" id="CategoryLink2All">
		<id property="link2_no" column="link2_no"/>
		<result property="category_mid_code" column="category_mid_code"/>
		<result property="category_small_code" column="category_small_code"/>
	</resultMap>
		
	<select id="selectCategory" parameterType="Board" resultMap="BoardResult">
		<![CDATA[
			select a.AGENCY_NO,a.AGENCY_WRITER,a.AGENCY_TITLE,s.CATEGORY_SMALL_NAME as LINK2_NO,a.AGENCY_TYPE,a.AGENCY_LOC,a.AGENCY_STARTDATE,a.AGENCY_ENDDATE,a.AGENCY_ENROLLDATE,a.AGENCY_PAYTYPE,a.AGENCY_PAY,a.AGENCY_STATUS,a.AGENCY_CONTENT,a.AGENCY_VEIWS,a.AGENCY_KEYWORD,a.AGENCY_OPTION from agency a,CATEGORYLINK2 l ,SMALLCATEGORY s where l.LINK2_NO = a.LINK2_NO and s.CATEGORY_SMALL_CODE = l.CATEGORY_SMALL_CODE and s.CATEGORY_SMALL_NAME = #{link2_no}
		]]>
	</select>
	
	<select id="selectCategoryMid" parameterType="Board" resultMap="BoardResult">
		<![CDATA[
			select a.AGENCY_NO,a.AGENCY_WRITER,a.AGENCY_TITLE,m.CATEGORY_MID_NAME as LINK2_NO,a.AGENCY_TYPE,a.AGENCY_LOC,a.AGENCY_STARTDATE,a.AGENCY_ENDDATE,a.AGENCY_ENROLLDATE,a.AGENCY_PAYTYPE,a.AGENCY_PAY,a.AGENCY_STATUS,a.AGENCY_CONTENT,a.AGENCY_VEIWS,a.AGENCY_KEYWORD,a.AGENCY_OPTION from agency a,CATEGORYLINK2 l,MIDCATEGORY m where l.LINK2_NO = a.LINK2_NO and m.CATEGORY_MID_CODE = l.CATEGORY_MID_CODE and m.CATEGORY_MID_NAME= #{link2_no} order by a.AGENCY_NO
		]]>
	</select>
	
	<select id="selectBigCategoryAll" parameterType="BigCategory" resultMap="BigCategoryAll">
		<![CDATA[
			select * from bigcategory
		]]>
	</select>
	
	<select id="selectMidCategoryAll" parameterType="MidCategory" resultMap="MidCategoryAll">
		<![CDATA[
			select * from midcategory
		]]>
	</select>
	
	<select id="selectSmallCategoryAll" parameterType="SmallCategory" resultMap="SmallCategoryAll">
		<![CDATA[
			select * from smallcategory
		]]>
	</select>
	
	<select id="selectCategoryLink1" parameterType="CategoryLink1" resultMap="CategoryLink1All">
		<![CDATA[
			select l.LINK1_NO, b.CATEGORY_BIG_NAME as CATEGORY_BIG_CODE, m.CATEGORY_MID_NAME as CATEGORY_MID_CODE from categorylink1 l,BIGCATEGORY b, MIDCATEGORY m where l.CATEGORY_BIG_CODE = b.CATEGORY_BIG_CODE and m.CATEGORY_MID_CODE = l.CATEGORY_MID_CODE
		]]>
	</select>
	
	<select id="selectCategoryLink2" parameterType="CategoryLink2" resultMap="CategoryLink2All">
		<![CDATA[
			select l.LINK2_NO, m.CATEGORY_MID_NAME as CATEGORY_MID_CODE, s.CATEGORY_SMALL_NAME as CATEGORY_SMALL_CODE from CATEGORYLINK2 l,MIDCATEGORY m, SMALLCATEGORY s where l.CATEGORY_MID_CODE = m.CATEGORY_MID_CODE and s.CATEGORY_SMALL_CODE = l.CATEGORY_SMALL_CODE
		]]>
	</select>
	
	
	<!-- <insert id="MemberInsert" parameterType="Member" flushCache="true" statementType="PREPARED">		
		insert into member 
		values 
		(#{userId}, 
		#{userPwd}, 
		#{userName}, 
		#{gender}, 
		#{age}, 
		#{phone}, 
		#{email}, 
		#{hobby}, 
		#{etc}, 
		sysdate, 
		sysdate)		
	</insert>
	
	<update id="MemberUpdate" parameterType="Member" flushCache="true" statementType="PREPARED">
		update member 
		set userpwd = #{userPwd}, 
		age = #{age}, 
		phone = #{phone}, 
		email = #{email}, 
		hobby = #{hobby}, 
		etc = #{etc}, 
		lastmodified = sysdate 
		where userid = #{userId}
	</update>
	
	<delete id="MemberDelete" parameterType="Member" flushCache="true" statementType="PREPARED">
		delete from member 
		where userid = #{userId}
	</delete> -->

</mapper>
