<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="category-mapper">

	<resultMap id="HeaderCategoryBigResult" type="Category">
		<id property="category_big_code" column="category_big_code"/>
		<result property="category_big_name" column="category_big_name"/>
		<result property="category_big_views" column="category_big_views"/>
		<result property="category_big_count" column="category_big_count"/>			
	</resultMap>
		
	<resultMap id="HeaderCategorySmallResult" type="Category">
		<id property="category_small_code" column="category_small_code"/>
		<result property="category_small_name" column="category_small_name"/>
		<result property="category_small_views" column="category_small_views"/>
		<result property="category_small_count" column="category_small_count"/>			
	</resultMap>	
	
	<select id="headerCategoryBig" resultMap="HeaderCategoryBigResult">	
		<![CDATA[
			select category_big_code, category_big_name, category_big_views, category_big_count 
			from (select * 
					from BIGCATEGORY 
					order by CATEGORY_BIG_VIEWS desc)
			where rownum <= 6
		]]>
	</select>
	
	<select id="headerCategorySmall" resultMap="HeaderCategorySmallResult">	
		<![CDATA[
			select category_small_code, category_small_name, category_small_views, category_small_count 
			from (select * 
					from SMALLCATEGORY 
					order by CATEGORY_SMALL_VIEWS desc)
			where rownum <= 6
		]]>
	</select>
	
	<update id="BigCategoryCountUpdate" parameterType="string" flushCache="true" statementType="PREPARED">
		<![CDATA[
			update BIGCATEGORY 
			set CATEGORY_BIG_VIEWS = (select CATEGORY_BIG_VIEWS 
										from BIGCATEGORY 
										where CATEGORY_BIG_NAME = #{category_big_name}) + 1 
			where CATEGORY_BIG_NAME = #{category_big_name}
		]]>
	</update>
	
	<update id="MidCategoryCountUpdate" parameterType="string" flushCache="true" statementType="PREPARED">
		<![CDATA[
			update MIDCATEGORY 
			set CATEGORY_MID_VIEWS = (select CATEGORY_MID_VIEWS 
										from MIDCATEGORY 
										where CATEGORY_MID_NAME = #{category_mid_name}) + 1 
			where CATEGORY_MID_NAME = #{category_mid_name}			
		]]>
	</update>
	
	<update id="SmallCategoryCountUpdate" parameterType="string" flushCache="true" statementType="PREPARED">
		<![CDATA[
			update SMALLCATEGORY 
			set CATEGORY_SMALL_VIEWS = (select CATEGORY_SMALL_VIEWS 
										from SMALLCATEGORY 
										where CATEGORY_SMALL_NAME = #{category_small_name}) + 1 
			where CATEGORY_SMALL_NAME = #{category_small_name}		
		]]>
	</update>	

<update id="IncreasesSMALLCATEGORYCOUNT" parameterType="int">
update SMALLCATEGORY set CATEGORY_SMALL_COUNT = 
(select CATEGORY_SMALL_COUNT+1 from SMALLCATEGORY where CATEGORY_SMALL_CODE = (select CATEGORY_SMALL_CODE from CATEGORYLINK2 where LINK2_NO = #{parseInt})) 
where CATEGORY_SMALL_CODE = (select CATEGORY_SMALL_CODE from CATEGORYLINK2 where LINK2_NO = #{parseInt})
</update>

</mapper>
