<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq-mapper">
	    
	<resultMap id="FaqList" type="Faq">
		<result property="faq_no" column="faq_no"/>
		<result property="faq_category" column="faq_category"/>
		<result property="faq_title" column="faq_title"/>
		<result property="faq_content" column="faq_content"/>
	</resultMap>
	  
	<resultMap id="FaqOneList" type="Faq">
		<id property="faq_no" column="faq_no"/>
		<result property="faq_category" column="faq_category"/>
		<result property="faq_title" column="faq_title"/>
		<result property="faq_content" column="faq_content"/>
	</resultMap>
	
	
	<select id="faqAllList" resultMap="FaqList">
		<![CDATA[select * from FAQ]]>
	</select>
	
	<select id="faqUseList" resultMap="FaqList">
		<![CDATA[select * from FAQ where faq_category='이용 관련']]>
	</select>
	
	<select id="faqPaymentList" resultMap="FaqList">
		<![CDATA[select * from FAQ where faq_category='결제 관련']]>
	</select>
	
	<select id="faqReportList" resultMap="FaqList">
		<![CDATA[select * from FAQ where faq_category='신고 관련']]>
	</select>
	<select id="faqLogList" resultMap="FaqList">
		<![CDATA[select * from FAQ where faq_category='로그인 관련']]>
	</select>
	
	<select id="faqTop5" resultMap="FaqList">
		<![CDATA[select * from (select rownum rnum, faq_no, faq_category, faq_title, faq_content from (select * from FAQ order by faq_no desc)) where rnum>=1 and rnum<=5]]>
	</select>
	
	<select id="faqDetailShow" resultMap="FaqOneList" parameterType="integer" statementType="PREPARED">
		<![CDATA[select * from faq where faq_no=#{faq_no}]]>
		
	</select>

	<update id="faqReDefine" parameterType="Faq" flushCache="true" statementType="PREPARED">
		<![CDATA[update faq set faq_title=#{faq_title}, faq_content=#{faq_content} where faq_no=#{faq_no} and faq_category=#{faq_category}]]>
	</update>
	
	<update id="inUserListDefine" parameterType="Faq" flushCache="true" statementType="PREPARED">
		<![CDATA[update faq set faq_title=#{faq_title}, faq_content=#{faq_content} where faq_no=#{faq_no} and faq_category=#{faq_category}]]>
	</update>
	
</mapper>
