<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Getmyitem-mapper">

	<resultMap id="GetmyitemResult" type="GetMyItem">
		<id property="MYITEM_NO" column="MYITEM_NO"/>
		<result property="MEMBER_ID" column="MEMBER_ID"/>
		<result property="ITEMLIST_NO" column="ITEMLIST_NO"/>
		<result property="BUY_DATE" column="BUY_DATE"/>
		<result property="MYITEM_STATUS" column="MYITEM_STATUS"/>
		<result property="ITEMNAME" column="ITEMNAME"/>
		<result property="ITEMPRICE" column="ITEMPRICE"/>
		<result property="ITEMPERIOD" column="ITEMPERIOD"/>
		<result property="ITEMTYPE" column="ITEMTYPE"/>
		<result property="ITEMFILENAME" column="ITEMFILENAME"/>
	
	
	</resultMap>

	
<select id="Getmyitem" resultMap="GetmyitemResult">
<![CDATA[
select * from (  
select * from 
(select ROWNUM AS RNUM, A.* FROM  
(select * from my_item where member_id = #{MEMBER_ID} and myitem_status = 1 and (select itemtype from itemlist where itemlist_no= my_item.ITEMLIST_NO) !=2 ) 
A WHERE ROWNUM < #{endRow}) 
WHERE RNUM >= #{startRow} ORDER BY MYITEM_NO DESC
) a, itemlist b where a.ITEMLIST_NO= b.ITEMLIST_NO 
]]>
</select>
<select id="Getmyitem1" resultMap="GetmyitemResult">
<![CDATA[
select * from (  
select * from 
(select ROWNUM AS RNUM, A.* FROM  
(select * from my_item where member_id = #{MEMBER_ID} and (select itemtype from itemlist where itemlist_no= my_item.ITEMLIST_NO)=2  ) 
A WHERE ROWNUM < #{endRow}) 
WHERE RNUM >= #{startRow} ORDER BY MYITEM_NO DESC
) a, itemlist b where a.ITEMLIST_NO= b.ITEMLIST_NO
]]>
</select>

<select id="gethavingListCount" resultType="int">
select  count(*) from my_item,ITEMLIST where member_id =#{memberid} and myitem_status = 1 and my_item.ITEMLIST_NO=ITEMLIST.ITEMLIST_NO and ITEMTYPE != 2
</select>
<select id="gethavingListCount1" resultType="int">
select  count(*) from my_item,ITEMLIST where member_id =#{memberid} and my_item.ITEMLIST_NO=ITEMLIST.ITEMLIST_NO and ITEMTYPE = 2
</select>


</mapper>
