<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="item-mapper">

	<resultMap id="itemResult" type="itemlist">
		<id property="ITEMLIST_NO" column="ITEMLIST_NO"/>
		<result property="ITEMNAME" column="ITEMNAME"/>
		<result property="ITEMPRICE" column="ITEMPRICE"/>
		<result property="ITEMPERIOD" column="ITEMPERIOD"/>
		<result property="ITEMTYPE" column="ITEMTYPE"/>
		<result property="ITEMFILENAME" column="ITEMFILENAME"/>
		<result property="ITEMSELLCOUNT" column="ITEMSELLCOUNT"/>
	</resultMap>

<select id="homenewltem" resultMap="itemResult">
<![CDATA[
SELECT * 
   FROM (
select * from ITEMLIST
 where 
 itemfilename not like '%gif%' and
  ITEMTYPE !=8 
ORDER BY DBMS_RANDOM.VALUE 
)  
WHERE ROWNUM <= 8
]]>
</select>

<select id="allitemlist" resultMap="itemResult" parameterType="Hashmap">
<![CDATA[
	select * from 
	(select * from ITEMLIST where itemfilename not like '%gif%' and ITEMTYPE !=8 order by ITEMLIST_NO desc) 
	where 
	rownum <= #{endRow} and 
	rownum >= #{startRow} 
	order by ITEMLIST_NO desc 
]]>
</select>

<select id="allitemlist1" resultMap="itemResult" parameterType="Hashmap">
<![CDATA[
select * from 
(select ROWNUM AS RNUM, A.* FROM  
(select * from ITEMLIST where itemfilename not like '%gif%' and ITEMTYPE !=8 and ITEMNAME like '%'||#{search}||'%' order by ITEMLIST_NO desc)  
A WHERE ROWNUM <= #{endRow}) 
WHERE RNUM >= #{startRow}
]]>
</select>

<select id="allitemlist2" resultMap="itemResult" parameterType="Hashmap">
<![CDATA[
select * from 
(select ROWNUM AS RNUM, A.* FROM  
(select * from ITEMLIST where itemfilename not like '%gif%' and ITEMNAME like and ITEMTYPE !=8 and '%'||#{search}||'%' order by ITEMSELLCOUNT desc)  
A WHERE ROWNUM <= #{endRow}) 
WHERE RNUM >= #{startRow} 
]]>
</select>

<select id="countitem" resultType="int">
select count(*) from ITEMLIST where itemfilename not like '%gif%' and ITEMTYPE !=8
</select>

<select id="countitem1" resultType="int" parameterType="Hashmap">
select count(*) from ITEMLIST where itemfilename not like '%gif%' and ITEMNAME like '%' ||#{search}|| '%' and ITEMTYPE !=8
</select>

<select id="selectitemdetail" resultType="ITEMLIST">
<![CDATA[
select * from ITEMLIST where ITEMLIST_NO = #{itemno} 
]]>
</select>
<select id="homepopularlitm" resultMap="itemResult">
<![CDATA[
select * from (select * from ITEMLIST where itemfilename not like '%gif%' and ITEMTYPE !=8  order by ITEMSELLCOUNT desc) where rownum <= 4 
]]>
</select>

<select id="getitemlistno" parameterType="int" resultType="int">
select i.ITEMLIST_NO from ITEMLIST i , MY_ITEM m where i.ITEMLIST_NO=m.ITEMLIST_NO and m.MYITEM_NO=#{useritempk}
</select>

<select id="selectMyPageItemListCount" parameterType="string" resultType="int">
	<![CDATA[
		select count(it.ITEMNAME) from my_item mi,item_log il,itemlist it,using_item ui 
		where mi.ITEMLIST_NO = it.ITEMLIST_NO 
		and mi.MYITEM_NO = ui.MYITEM_NO
		and ui.USING_ITEM_NO = il.USING_ITEM_NO
		and mi.MEMBER_ID = #{member_id} 	
	]]>
</select>
<select id="selectMyPageItem" parameterType="Hashmap" resultType="MyPageItem">
	<![CDATA[
		select * from (
		select rownum rnum,it.ITEMNAME,mi.BUY_DATE,ui.START_DATE,ui.END_DATE,il.FINAL_STATUS 
		from my_item mi,item_log il,itemlist it,using_item ui 
		where mi.ITEMLIST_NO = it.ITEMLIST_NO  
		and mi.MYITEM_NO = ui.MYITEM_NO
		and ui.USING_ITEM_NO = il.USING_ITEM_NO
		and mi.MEMBER_ID = #{member_id} 
		and it.itemtype != 2) 
		where rnum >= #{startRow} and rnum <= #{endRow}
	]]>
</select>


<select id="newitemthismonth" resultType="itemlist">
<![CDATA[
select * from (select * from ITEMLIST where itemfilename not like '%gif%' and ITEMTYPE != 8 order by ITEMLIST_NO desc ) where rownum <= 1
]]>
</select>

<select id="popitemthismonth" resultType="itemlist">
<![CDATA[
select * from (select * from ITEMLIST where itemfilename not like '%gif%' order by ITEMSELLCOUNT desc) where rownum <= 1
]]>
</select>

<select id="randomitem" resultType="itemlist">
select * from ITEMLIST where ITEMTYPE=8 and ITEMPRICE = (select  max(ITEMPRICE) from ITEMLIST where ITEMTYPE=8)
</select>

<select id="getpackitemsinfo" parameterType="int" resultType="itemlist">
select * from ITEMLIST where ITEMLIST_NO = #{a}
</select>

<select id="allRandomlist" resultMap="itemResult">
select * from ITEMLIST where ITEMTYPE=8 order by ITEMPRICE desc
</select>

</mapper>
