<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="item-mapper">

	<resultMap id="itemResult" type="itemlist">
		<id property="ITEMLIST_NO" column="ITEMLIST_NO"/>
		<result property="ITEMNAME" column="ITEMNAME"/>
		<result property="ITEMPRICE" column="ITEMPRICE"/>
		<result property="ITEMPERIOD" column="ITEMPERIOD"/>
		<result property="ITEMTYPE" column="ITEMTYPE"/>
		<result property="ITEMFILENAME" column="ITEMFILENAME"/>
		<result property="ITEMSELLCOUNT" column="ITEMSELLCOUNT"/>
	</resultMap>

<select id="homenewltem" resultMap="itemResult">
<![CDATA[
	select * from (select * from ITEMLIST where itemfilename not like '%gif%' order by ITEMLIST_NO desc) where rownum <= 8
]]>
</select>

<select id="allitemlist" resultMap="itemResult" parameterType="Hashmap">
<![CDATA[
	select * from 
	(select * from ITEMLIST where itemfilename not like '%gif%' order by ITEMLIST_NO desc) 
	where 
	rownum <= #{endRow} and 
	rownum >= #{startRow} 
	order by ITEMLIST_NO desc 
]]>
</select>

<select id="allitemlist1" resultMap="itemResult" parameterType="Hashmap">
<![CDATA[
select * from 
(select ROWNUM AS RNUM, A.* FROM  
(select * from ITEMLIST where itemfilename not like '%gif%' and ITEMNAME like '%'||#{search}||'%' order by ITEMLIST_NO desc)  
A WHERE ROWNUM < #{endRow}) 
WHERE RNUM >= #{startRow} order by ITEMLIST_NO desc 	
]]>
</select>

<select id="allitemlist2" resultMap="itemResult" parameterType="Hashmap">
<![CDATA[
select * from 
(select ROWNUM AS RNUM, A.* FROM  
(select * from ITEMLIST where itemfilename not like '%gif%' and ITEMNAME like '%'||#{search}||'%' order by ITEMLIST_NO desc)  
A WHERE ROWNUM < #{endRow}) 
WHERE RNUM >= #{startRow} order by ITEMSELLCOUNT desc 	
]]>
</select>

<select id="countitem" resultType="int">
select count(*) from ITEMLIST where itemfilename not like '%gif%'
</select>

<select id="countitem1" resultType="int" parameterType="Hashmap">
select count(*) from ITEMLIST where itemfilename not like '%gif%' and ITEMNAME like '%' ||#{search}|| '%'
</select>

<select id="selectitemdetail" resultType="ITEMLIST">
<![CDATA[
select * from ITEMLIST where ITEMLIST_NO = #{itemno} and itemfilename not like '%gif%'
]]>
</select>
<select id="homepopularlitm" resultMap="itemResult">
<![CDATA[
select * from (select * from ITEMLIST where itemfilename not like '%gif%' order by ITEMSELLCOUNT desc) where rownum <= 4
]]>
</select>

<select id="getitemlistno" parameterType="int" resultType="int">
select i.ITEMLIST_NO from ITEMLIST i , MY_ITEM m where i.ITEMLIST_NO=m.ITEMLIST_NO and m.MYITEM_NO=#{useritempk}
</select>

<select id="selectMyPageItemListCount" parameterType="string" resultType="int">
	<![CDATA[
		select count(it.ITEMNAME) from my_item mi,item_log il,itemlist it,using_item ui 
		where mi.ITEMLIST_NO = it.ITEMLIST_NO 
		and mi.MYITEM_NO = ui.MYITEM_NO
		and ui.USING_ITEM_NO = il.USING_ITEM_NO
		and mi.MEMBER_ID = #{member_id} 	
	]]>
</select>
<select id="selectMyPageItem" parameterType="Hashmap" resultType="MyPageItem">
	<![CDATA[
		select * from (
		select rownum rnum,it.ITEMNAME,mi.BUY_DATE,ui.START_DATE,ui.END_DATE,il.FINAL_STATUS 
		from my_item mi,item_log il,itemlist it,using_item ui 
		where mi.ITEMLIST_NO = it.ITEMLIST_NO  
		and mi.MYITEM_NO = ui.MYITEM_NO
		and ui.USING_ITEM_NO = il.USING_ITEM_NO
		and mi.MEMBER_ID = #{member_id}) 
		where rnum >= #{startRow} and rnum <= #{endRow}
	]]>
</select>
</mapper>
