<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member-mapper">

	<resultMap id="MemberResult" type="Member">
		<id property="member_id" column="member_id"/>
		<result property="member_pw" column="member_pw"/>
		<result property="member_name" column="member_name"/>
		<result property="member_email" column="member_email"/>
		<result property="member_address" column="member_address"/>
		<result property="member_phone" column="member_phone"/>
		<result property="member_regident_number" column="member_regident_number"/>
		<result property="member_write_count" column="member_write_count"/>
		<result property="member_enroll_date" column="member_enroll_date"/>
		<result property="member_lastlogin" column="member_lastlogin"/>
		<result property="member_lastpassword" column="member_lastpassword"/>		
		<result property="member_yellowcard" column="member_yellowcard"/>		
		<result property="member_status" column="member_status"/>		
		<result property="member_renamephoto" column="member_renamephoto"/>		
		<result property="member_cash" column="member_cash"/>		
		<result property="member_accesstoken" column="member_accesstoken" />
		<result property="member_refreshtoken" column="member_refreshtoken" />
		<result property="member_keyword_count" column="member_keyword_count" />	
	</resultMap>

	<select id="loginCheck" parameterType="Member" resultMap="MemberResult">
		<![CDATA[
			select * from member where member_id = #{member_id}
		]]>
	</select>
	
	<select id="emailCheck" parameterType="string" resultType="Member">
		<![CDATA[
			select * from member where member_email = #{tomail}
		]]>
	</select>
	
	<select id="findId" parameterType="Member" resultType="Member">
		<![CDATA[
			select * from member where member_name = #{member_name} and member_email = #{member_email} 
			and member_pw = #{member_pw}
		]]>
	</select>
	
	<update id="fwdChange" parameterType="Member" flushCache="true" statementType="PREPARED">
		<![CDATA[
			update member set member_pw = #{member_pw} 
			where member_id = #{member_id}
		]]>
	</update>
	
	<update id="updateMember" parameterType="Member" flushCache="true">
		<![CDATA[
			update member 
			set member_renamephoto = #{member_renamephoto},
			member_pw = #{member_pw},
			member_address = #{member_address},
			member_phone = #{member_phone} 
			where member_id = #{member_id}
		]]>
	</update>
	
	<!-- <insert id="MemberInsert" parameterType="Member" flushCache="true" statementType="PREPARED">		
		insert into member 
		values 
		(#{userId}, 
		#{userPwd}, 
		#{userName}, 
		#{gender}, 
		#{age}, 
		#{phone}, 
		#{email}, 
		#{hobby}, 
		#{etc}, 
		sysdate, 
		sysdate)		
	</insert>
	
	<update id="MemberUpdate" parameterType="Member" flushCache="true" statementType="PREPARED">
		update member 
		set userpwd = #{userPwd}, 
		age = #{age}, 
		phone = #{phone}, 
		email = #{email}, 
		hobby = #{hobby}, 
		etc = #{etc}, 
		lastmodified = sysdate 
		where userid = #{userId}
	</update>
	
	<delete id="MemberDelete" parameterType="Member" flushCache="true" statementType="PREPARED">
		delete from member 
		where userid = #{userId}
	</delete> -->
<update id="upgradeboardcount" parameterType="String">
update MEMBER set MEMBER_WRITE_COUNT = (MEMBER_WRITE_COUNT+1) where MEMBER_ID = #{memberid}
</update>

<update id="upgradekeywordcount" parameterType="String">
update MEMBER set MEMBER_KEYWORD_COUNT = (MEMBER_KEYWORD_COUNT+1) where MEMBER_ID = #{memberid}
</update>

<select id="idDuplicateCheck" parameterType="String" resultType="String">
		<![CDATA[
		select MEMBER_ID from MEMBER 
		where MEMBER_ID=#{member_id}
		]]>
</select>

<select id="emailDuplicateCheck" parameterType="String" resultType="String">
		<![CDATA[
		select MEMBER_EMAIL from MEMBER 
		where MEMBER_EMAIL=#{member_email}
		]]>
	</select>
	<insert id="memberInsert" parameterType="Member" flushCache="true" statementType="PREPARED">
	<![CDATA[
	insert into member values (
	#{member_id},
	#{member_pw},
	#{member_name},
	#{member_email},
	#{member_address},
	#{member_phone},
	#{member_regident_number},
	default,
	default,
	default,
	default,
	default,
	1,
	#{member_renamephoto},
	default,
	default,
	default,
	default
	)
	]]>
	</insert>
	
	<select id="checkusercash" parameterType="String" resultType="int">
	select MEMBER_CASH from MEMBER where MEMBER_ID=#{memberid}
	</select>
	
	
	
	
	</mapper>