<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member-mapper">

	<resultMap id="MemberResult" type="Member">
		<id property="member_id" column="member_id"/>
		<result property="member_pw" column="member_pw"/>
		<result property="member_name" column="member_name"/>
		<result property="member_email" column="member_email"/>
		<result property="member_address" column="member_address"/>
		<result property="member_phone" column="member_phone"/>
		<result property="member_regident_number" column="member_regident_number"/>
		<result property="member_write_count" column="member_write_count"/>
		<result property="member_enroll_date" column="member_enroll_date"/>
		<result property="member_lastlogin" column="member_lastlogin"/>
		<result property="member_lastpassword" column="member_lastpassword"/>		
		<result property="member_yellowcard" column="member_yellowcard"/>		
		<result property="member_status" column="member_status"/>		
		<result property="member_renamephoto" column="member_renamephoto"/>		
		<result property="member_cash" column="member_cash"/>			
	</resultMap>

	<select id="loginCheck" parameterType="Member" resultMap="MemberResult">
		<![CDATA[
			select * from member where member_id = #{member_id}
		]]>
	</select>
	
	<!-- <insert id="MemberInsert" parameterType="Member" flushCache="true" statementType="PREPARED">		
		insert into member 
		values 
		(#{userId}, 
		#{userPwd}, 
		#{userName}, 
		#{gender}, 
		#{age}, 
		#{phone}, 
		#{email}, 
		#{hobby}, 
		#{etc}, 
		sysdate, 
		sysdate)		
	</insert>
	
	<update id="MemberUpdate" parameterType="Member" flushCache="true" statementType="PREPARED">
		update member 
		set userpwd = #{userPwd}, 
		age = #{age}, 
		phone = #{phone}, 
		email = #{email}, 
		hobby = #{hobby}, 
		etc = #{etc}, 
		lastmodified = sysdate 
		where userid = #{userId}
	</update>
	
	<delete id="MemberDelete" parameterType="Member" flushCache="true" statementType="PREPARED">
		delete from member 
		where userid = #{userId}
	</delete> -->

</mapper>
