<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice-mapper">
	
	<resultMap type="Notice" id="NoticeResult">
   		<result property="notice_no" column="notice_no"/>
   		<result property="notice_title" column="notice_title"/>
   		<result property="notice_content" column="notice_content"/>
   		<result property="notice_writer" column="notice_writer"/>
   		<result property="notice_date" column="notice_date"/>
	</resultMap>
	
	<select id="mainTop5" parameterType="Notice" resultMap="NoticeResult">
		<![CDATA[select * from (select rownum rnum, notice_no, notice_title, notice_writer, 
	     notice_content, notice_date from (select * from notice order 
	     by notice_no desc)) where rnum>=1 and rnum<=4]]>		
	</select>
	
</mapper>
