<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice-mapper">
	
	<resultMap type="Notice" id="NoticeResult">
   		<result property="notice_no" column="notice_no"/>
   		<result property="notice_title" column="notice_title"/>
   		<result property="notice_content" column="notice_content"/>
   		<result property="notice_writer" column="notice_writer"/>
   		<result property="notice_date" column="notice_date"/>
	</resultMap> 
	
	<resultMap type="Notice" id="NoticeResultOnlyOne">
   		<id property="notice_no" column="notice_no"/>
   		<result property="notice_title" column="notice_title"/>
   		<result property="notice_content" column="notice_content"/>
   		<result property="notice_writer" column="notice_writer"/>
   		<result property="notice_date" column="notice_date"/>
	</resultMap>

	<select id="PageingSuccess" parameterType="Hashmap" resultMap="NoticeResult">
		<![CDATA[select * from (select rownum rnum, notice_no, notice_title,notice_content, notice_writer, notice_date from notice) where rnum <= #{endRow} and rnum >= #{startRow}]]>
	</select> 
	  
	<select id="mainTop5" parameterType="Notice" resultMap="NoticeResult">
		<![CDATA[select * from (select rownum rnum, notice_no, notice_title, notice_writer, 
	     notice_content, notice_date from (select * from notice order 
	     by notice_no desc)) where rnum>=1 and rnum<=4]]>		
	</select>
	
	<select id="noticeDetailShow" parameterType="integer" statementType="PREPARED" resultMap="NoticeResultOnlyOne">
		<![CDATA[select * from notice where notice_no=#{notice_no}]]>
	</select>  
	
	<update id="AdminWriteAlter" parameterType="Notice" flushCache="true" statementType="PREPARED">
		<![CDATA[update notice set notice_title=#{notice_title}, notice_content=#{notice_content} where notice_no=#{notice_no} ]]>
	</update>
	
	<insert id="AdminInsertNotice" parameterType="Notice" flushCache="true" statementType="PREPARED">
		<![CDATA[insert into notice values((select max(notice_no)+1 from notice), #{notice_title}, #{notice_content}, 'gkffhqnd', sysdate)]]>
	</insert>
	
	<delete id="AdminDeleteNotice" parameterType="integer" flushCache="true">
		<![CDATA[delete from notice where notice_no=#{notice_no}]]>
	</delete>
	
	<select id="noticeCount" resultType="int">
		<![CDATA[select count(*) from notice]]>
	</select>
	
	<select id="noticeCatch1" resultMap="NoticeResult">
		<![CDATA[select * from (select rownum rnum, notice_no, notice_title,notice_content, notice_writer, notice_date from notice) where rnum <=6 and rnum >=1]]>	
	</select>
	
	
	<select id="noticeCatch2" resultMap="NoticeResult">
		<![CDATA[select * from (select rownum rnum, notice_no, notice_title,notice_content, notice_writer, notice_date from notice) where rnum <=12 and rnum >=7]]>	
	</select>

</mapper>
