<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outside_pet_news">
	
	<resultMap type="PetNews" id="PetNewsList">
   		<result property="osp_news_datano" column="osp_news_datano"/>
   		<result property="osp_news_data" column="osp_news_data"/>
   		<result property="osp_news_datatitle" column="osp_news_datatitle"/>
   		<result property="osp_news_content1" column="osp_news_content1"/>
   		<result property="osp_news_content2" column="osp_news_content2"/>
   		<result property="osp_news_content3" column="osp_news_content3"/>
   		<result property="osp_news_content4" column="osp_news_content4"/>
   		<result property="osp_news_pic1" column="osp_news_pic1"/>
   		<result property="osp_news_pic2" column="osp_news_pic2"/>
   		<result property="osp_news_pic3" column="osp_news_pic3"/>
   		<result property="osp_news_pic4" column="osp_news_pic4"/>
   		<result property="osp_news_date" column="osp_news_date"/>
   		<result property="osp_news_origin" column="osp_news_origin"/>
	</resultMap> 
	
	<resultMap type="PetNews" id="PetNewsOne">
   		<id property="osp_news_datano" column="osp_news_datano"/>
   		<result property="osp_news_data" column="osp_news_data"/>
   		<result property="osp_news_datatitle" column="osp_news_datatitle"/>
   		<result property="osp_news_content1" column="osp_news_content1"/>
   		<result property="osp_news_content2" column="osp_news_content2"/>
   		<result property="osp_news_content3" column="osp_news_content3"/>
   		<result property="osp_news_content4" column="osp_news_content4"/>
   		<result property="osp_news_pic1" column="osp_news_pic1"/>
   		<result property="osp_news_pic2" column="osp_news_pic2"/>
   		<result property="osp_news_pic3" column="osp_news_pic3"/>
   		<result property="osp_news_pic4" column="osp_news_pic4"/>
   		<result property="osp_news_date" column="osp_news_date"/>
   		<result property="osp_news_origin" column="osp_news_origin"/>
	</resultMap> 
	  
	<!-- <select id="mainTop5" parameterType="Notice" resultMap="NoticeResult">
		<![CDATA[select * from (select rownum rnum, notice_no, notice_title, notice_writer, 
	     notice_content, notice_date from (select * from notice order 
	     by notice_no desc)) where rnum>=1 and rnum<=4]]>		
	</select> -->
	
	<select id="petNewsList" resultMap="PetNewsList">
		<![CDATA[select * from (select rownum rnum,osp_news_datano,osp_news_data,osp_news_datatitle,
		osp_news_content1,osp_news_content2,osp_news_content3,osp_news_content4,osp_news_pic1,osp_news_pic2
		osp_news_pic3,osp_news_pic4,osp_news_date,osp_news_origin from outside_pet_news) where rnum>=1 and rnum<=6]]>	
	</select>

	<select id="petnewsOne" parameterType="integer" resultMap="PetNewsOne">
		<![CDATA[select * from outside_pet_news where osp_news_datano=#{osp_news_datano}]]>
	</select>
	
	<select id="userSearchTitle" parameterType="PetNews" resultMap="PetNewsList">
		<![CDATA[select * from (select rownum rnum,osp_news_datano,osp_news_data,osp_news_datatitle,
		osp_news_content1,osp_news_content2,osp_news_content3,osp_news_content4,osp_news_pic1,osp_news_pic2
		osp_news_pic3,osp_news_pic4,osp_news_date,osp_news_origin from outside_pet_news) where osp_news_datatitle like '%'||#{osp_news_datatitle}||'%']]>	
	</select>	

	<select id="userSearchContents" parameterType="PetNews" resultMap="PetNewsList">
		<![CDATA[select * from (select rownum rnum,osp_news_datano,osp_news_data,osp_news_datatitle,
		osp_news_content1,osp_news_content2,osp_news_content3,osp_news_content4,osp_news_pic1,osp_news_pic2
		osp_news_pic3,osp_news_pic4,osp_news_date,osp_news_origin from outside_pet_news) where (osp_news_content1 like '%'||#{osp_news_content1}||'%' 
		or osp_news_content2 like '%'||#{osp_news_content2}||'%' or osp_news_content3 like '%'||#{osp_news_content3}||'%' or osp_news_content4 like '%'||#{osp_news_content4}||'%')]]>	
	</select>																																
	
	<select id="userSearchOrign" parameterType="PetNews" resultMap="PetNewsList">
		<![CDATA[select * from (select rownum rnum,osp_news_datano,osp_news_data,osp_news_datatitle,
		osp_news_content1,osp_news_content2,osp_news_content3,osp_news_content4,osp_news_pic1,osp_news_pic2
		osp_news_pic3,osp_news_pic4,osp_news_date,osp_news_origin from outside_pet_news) where osp_news_origin like '%'||#{osp_news_origin}||'%']]>	
	</select>																															
	


</mapper>











