<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report-mapper">

	<select id="myReportListCount" parameterType="string" resultType="int">
		<![CDATA[
			select count(*) from report where report_writer = #{member_id}
		]]>
	</select>
	
	<select id="myPageList" parameterType="java.util.HashMap" resultType="Report">
		<![CDATA[
			select * 
			from 
			(select rownum rnum, report_no,report_title,report_content,report_writer,report_category,report_date,report_rename_filename 
			 from report 
			 where report_writer = #{member_id}) 
			 where rnum <= #{endRow} and rnum >= #{startRow}
		]]>
	</select>
	
	<select id="seletReportDetail" parameterType="int" resultType="Report">
		<![CDATA[
			select * from report where report_no = #{report_no}
		]]>
	</select>
	
	<!-- <insert id="MemberInsert" parameterType="Member" flushCache="true" statementType="PREPARED">		
		insert into member 
		values 
		(#{userId}, 
		#{userPwd}, 
		#{userName}, 
		#{gender}, 
		#{age}, 
		#{phone}, 
		#{email}, 
		#{hobby}, 
		#{etc}, 
		sysdate, 
		sysdate)		
	</insert>
	
	<update id="MemberUpdate" parameterType="Member" flushCache="true" statementType="PREPARED">
		update member 
		set userpwd = #{userPwd}, 
		age = #{age}, 
		phone = #{phone}, 
		email = #{email}, 
		hobby = #{hobby}, 
		etc = #{etc}, 
		lastmodified = sysdate 
		where userid = #{userId}
	</update>
	
	<delete id="MemberDelete" parameterType="Member" flushCache="true" statementType="PREPARED">
		delete from member 
		where userid = #{userId}
	</delete> -->
</mapper>