<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search-mapper">

	<resultMap id="HeaderSearchKeywordResult" type="Search">
		<id property="agency_no" column="AGENCY_NO"/>
		<result property="agency_writer" column="AGENCY_WRITER"/>
		<result property="agency_title" column="AGENCY_TITLE"/>
		<result property="link2_no" column="LINK2_NO"/>		
		<result property="agency_type" column="AGENCY_TYPE"/>		
		<result property="agency_loc" column="AGENCY_LOC"/>		
		<result property="agency_startdate" column="AGENCY_STARTDATE"/>		
		<result property="agency_enddate" column="AGENCY_ENDDATE"/>		
		<result property="agency_enrolldate" column="AGENCY_ENROLLDATE"/>		
		<result property="agency_paytype" column="AGENCY_PAYTYPE"/>		
		<result property="agency_pay" column="AGENCY_PAY"/>		
		<result property="agency_status" column="AGENCY_STATUS"/>		
		<result property="agency_content" column="AGENCY_CONTENT"/>		
		<result property="agency_views" column="AGENCY_VEIWS"/>		
		<result property="agency_keyword" column="AGENCY_KEYWORD"/>		
		<result property="agency_option" column="AGENCY_OPTION"/>		
	</resultMap>	
	
	<!-- resultMap="HeaderSearchKeywordResult" -->
	<select id="headerSearchKeyword" parameterType="java.util.HashMap" resultType="Search">	
		<![CDATA[
			select *
			from (
				select rownum as rn, AG.*
				from (
					select AGENCY_NO, AGENCY_WRITER, AGENCY_TITLE, LINK2_NO, 
							AGENCY_TYPE, AGENCY_LOC, AGENCY_STARTDATE, 
							AGENCY_ENDDATE, AGENCY_ENROLLDATE, AGENCY_PAYTYPE, 
							AGENCY_PAY, AGENCY_STATUS, AGENCY_CONTENT, 
							AGENCY_VEIWS, AGENCY_KEYWORD, AGENCY_OPTION
					from AGENCY 
					where AGENCY_TITLE like '%'||#{agency_title}||'%'
					order by AGENCY_NO desc
				) AG 
			)
			where rn between #{pageBegin} and #{pageEnd}
		]]>
	</select>
	
	<select id="headerSearchListCount" parameterType="string" resultType="int">
		<![CDATA[
			select count(*) 
			from agency 
			where agency_title like '%'||#{ agency_title }||'%'
		]]>
	</select>
	
	<!-- <insert id="MemberInsert" parameterType="Member" flushCache="true" statementType="PREPARED">		
		insert into member 
		values 
		(#{userId}, 
		#{userPwd}, 
		#{userName}, 
		#{gender}, 
		#{age}, 
		#{phone}, 
		#{email}, 
		#{hobby}, 
		#{etc}, 
		sysdate, 
		sysdate)		
	</insert>
	
	<update id="MemberUpdate" parameterType="Member" flushCache="true" statementType="PREPARED">
		update member 
		set userpwd = #{userPwd}, 
		age = #{age}, 
		phone = #{phone}, 
		email = #{email}, 
		hobby = #{hobby}, 
		etc = #{etc}, 
		lastmodified = sysdate 
		where userid = #{userId}
	</update>
	
	<delete id="MemberDelete" parameterType="Member" flushCache="true" statementType="PREPARED">
		delete from member 
		where userid = #{userId}
	</delete> -->
	
	<select id="">
	
	
	
	</select>

</mapper>
