@charset "UTF-8";

.board_div_search {
	background: #f5f5f5;
	width: 100%;
	height: 130px;
	padding: 10px;
	border: 1px solid #e7e7e7;
}

.board_div_search>form>table>tbody>tr>td {
	width: 12.5%;
}

.board_div_search>form>table>tbody>tr>td>select {
	border: 1px solid #e7e7e7;
	width: 100%;
	color: gray;
}

.board_div_search>form>table>tbody>tr>td>label {
	color: gray;
}

.board_div_search>form>table>tbody>tr>td>button {
	background: white;
	border: 1px solid #e7e7e7;
	width: 100%;
	color: gray;
}

.board_div_search>form>table>tbody>tr>td>input {
	border: 1px solid #e7e7e7;
	width: 100%;
	color: gray;
}

.checkbox_comm {
	cursor: pointer;
}

.td_start {
	padding-top: 5px;
	padding-left: 5px;
	border-top: 1px dashed #B8B8B8;
	border-bottom: 1px dashed #B8B8B8;
	border-left: 1px dashed #B8B8B8;
}

.td_mid {
	padding-top: 5px;
	border-top: 1px dashed #B8B8B8;
	border-bottom: 1px dashed #B8B8B8;
}

.td_end {
	padding-top: 5px;
	border-top: 1px dashed #B8B8B8;
	border-bottom: 1px dashed #B8B8B8;
	border-right: 1px dashed #B8B8B8;
}

.bsh_sidebar {
	background: #f5f5f5;
	width: 20%;
	height: 100%;
	float: left;
	border: 1px solid #e7e7e7;
}

.bsh_sidebar > ul{
	padding-left:10px;
	padding-right:10px;
}

.bsh_center {
	width: 78%;
	height: 100%;
	float: left;
	margin-left: 2%
}

.bsh_span_button {
	display: table;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

.board_div_prime {
	background: #f5f5f5;
	width: 100%;
	height: 360px;
	padding: 10px;
	border: 1px solid #e7e7e7;
}

.board_div_maincontent {
	background: #f5f5f5;
	width: 100%;
	height: 580px;
	padding: 10px;
	border: 1px solid #e7e7e7;
}

.bgcate {
	/* 여기에 스타일 입력 */
	color: #999;
	list-style: none;
	font-size: 24px;
	cursor: pointer;
	border-top: 1px solid #999;
}

.mdcate {
	/* 여기에 스타일 입력 */
	color: #999;
	list-style: none;
	font-size: 20px;
	display: none;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
	/* border: 1px solid #999; */
}

.smcate{
	/* 여기에 스타일 입력 */
	list-style: none;
	font-size: 16px;
	color: #999;
	display: none;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
	/* border: 1px solid #999; */
}

.mdcate:hover, .bgcate:hover {
	color: black;
}

.smcate>a:link, .smcate>a:visited,.mdcate>a:link, .mdcate>a:visited,.bgcate>a:link, .bgcate>a:visited {
	color: #999;
	text-decoration: none;
}

.smcate>a:hover,.mdcate>a:hover,.bgcate>a:hover {
	color: black;
}

